<div class="dashboard-toolbar">
  <div class="search-row">
    <app-comic-search></app-comic-search>
    <button class="btn-exclude-claimed"
            [class.btn-exclude-claimed-active]="excludeClaimed"
            (click)="excludeClaimedChange.emit(!excludeClaimed)">
      {{ excludeClaimed ? 'Show All' : 'Exclude Claimed' }}
    </button>
    <button class="btn-exclude-claimed"
            [class.btn-exclude-claimed-active]="showPricedOnly"
            (click)="showPricedOnlyChange.emit(!showPricedOnly)">
      {{ showPricedOnly ? 'Show Unpriced' : 'Priced Only' }}
    </button>
  </div>
  <span class="items-count">{{ itemCount }} items</span>
</div>
