<div class="dashboard-toolbar">
  <div class="search-row">
    <app-comic-search></app-comic-search>
    <div class="filter-panel">
      <span *ngIf="excludeClaimed && showPricedOnly" class="claim-sale-mode-label">Claim Sale Mode</span>
      <span class="items-count">
        <ng-container *ngIf="isFiltered; else noFilter">{{ itemCount }} of {{ totalCount }} items</ng-container>
        <ng-template #noFilter>{{ itemCount }} items</ng-template>
      </span>
      <div class="filter-buttons">
        <button class="btn-exclude-claimed"
                [class.btn-exclude-claimed-active]="excludeClaimed"
                (click)="excludeClaimedChange.emit(!excludeClaimed)">
          {{ excludeClaimed ? 'Show Claimed' : 'Exclude Claimed' }}
        </button>
        <button class="btn-exclude-claimed"
                [class.btn-exclude-claimed-active]="showPricedOnly"
                (click)="showPricedOnlyChange.emit(!showPricedOnly)">
          {{ showPricedOnly ? 'Show Unpriced' : 'Exclude Unpriced' }}
        </button>
      </div>
    </div>
  </div>
</div>
